In [1]:
print("hello world")

hello world

In [1]:
import pandas as pd


print("pla")

pla

In [2]:
print("ji")

ji

In [4]:
df=pd.read_json("adarsa-tamid-default-rtdb-export.json")

In [5]:
df=pd.read_csv("adarsa-tamid-default-rtdb-export.json")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [6]:
df=pd.read_json("adarsa-tamid-default-rtdb-export.json")

In [7]:
df

                                  QB Ages
0    {'Age': 37, 'Name': 'Aaron Rodgers'}
1     {'Age': 24, 'Name': 'Kyler Murray'}
2    {'Age': 24, 'Name': 'Lamar Jackson'}
3   {'Age': 23, 'Name': 'Justin Herbert'}
4     {'Age': 28, 'Name': 'Dak Presscot'}
5  {'Age': 26, 'Name': 'Patrick Mahomes'}

In [8]:
df.head()

                                 QB Ages
0   {'Age': 37, 'Name': 'Aaron Rodgers'}
1    {'Age': 24, 'Name': 'Kyler Murray'}
2   {'Age': 24, 'Name': 'Lamar Jackson'}
3  {'Age': 23, 'Name': 'Justin Herbert'}
4    {'Age': 28, 'Name': 'Dak Presscot'}

In [9]:
df.describe()

                                       QB Ages
count                                        6
unique                                       6
top     {'Age': 26, 'Name': 'Patrick Mahomes'}
freq                                         1

In [10]:
db=df=pd.read_cvs("adarsa-tamid-default-rtdb-export.csv")

AttributeError: module 'pandas' has no attribute 'read_cvs'

In [11]:
db=pd.read_cvs("adarsa-tamid-default-rtdb-export.csv")

AttributeError: module 'pandas' has no attribute 'read_cvs'

In [12]:
df=pd.read_csv("adi.csv")

In [13]:
df

   QB Ages/Age     QB Ages/Name
0           37    Aaron Rodgers
1           24     Kyler Murray
2           24    Lamar Jackson
3           23   Justin Herbert
4           28     Dak Presscot
5           26  Patrick Mahomes

In [14]:
df.head()

   QB Ages/Age    QB Ages/Name
0           37   Aaron Rodgers
1           24    Kyler Murray
2           24   Lamar Jackson
3           23  Justin Herbert
4           28    Dak Presscot

In [15]:
df.describe()

       QB Ages/Age
count     6.000000
mean     27.000000
std       5.215362
min      23.000000
25%      24.000000
50%      25.000000
75%      27.500000
max      37.000000

In [1]:
df[Age]

NameError: name 'df' is not defined

In [2]:
df['Age']

NameError: name 'df' is not defined

In [3]:
df=pd.read_csv("adi.csv")

NameError: name 'pd' is not defined

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("adi.csv")

In [6]:
df

   QB Ages/Age     QB Ages/Name
0           37    Aaron Rodgers
1           24     Kyler Murray
2           24    Lamar Jackson
3           23   Justin Herbert
4           28     Dak Presscot
5           26  Patrick Mahomes

In [7]:
df.describe()

       QB Ages/Age
count     6.000000
mean     27.000000
std       5.215362
min      23.000000
25%      24.000000
50%      25.000000
75%      27.500000
max      37.000000

In [8]:
df.head()

   QB Ages/Age    QB Ages/Name
0           37   Aaron Rodgers
1           24    Kyler Murray
2           24   Lamar Jackson
3           23  Justin Herbert
4           28    Dak Presscot

In [9]:
df['Age']

KeyError: 'Age'

In [10]:
df['name']

KeyError: 'name'

In [11]:
df['Ages/Age']

KeyError: 'Ages/Age'

In [12]:
df['QB Ages/Age']

0    37
1    24
2    24
3    23
4    28
5    26
Name: QB Ages/Age, dtype: int64